apiVersion: v1
kind: Pod
metadata:
  name: kc-pod
  labels:
    app: kc-app
spec:
  restartPolicy: Always
  hostNetwork: true

  volumes:
    - name: postgres-data
      hostPath:
        path: /opt/postgres/data
        type: DirectoryOrCreate

  containers:
    - name: postgres-db
      image: "{{ postgres_image }}"

      resources:
        requests:
          memory: "256Mi"
          cpu: "250m"
        limits:
          memory: "512Mi"
          cpu: "500m"
      ports:
        - name: db-internal
          containerPort: 5432

      volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: postgres-data
      env:
        - name: POSTGRES_USER
          value: "{{ postgres_user }}"
        - name: POSTGRES_PASSWORD
          value: "{{ vault_postgres_pass }}"
        - name: POSTGRES_DB
          value: "{{ postgres_db }}"

    - name: keycloak
      image: "{{ keycloak_image }}"
      ports:
        - name: http
          containerPort: 8080
          hostPort: 8080
      resources:
        requests:
          memory: "512Mi"
          cpu: "500m"
        limits:
          memory: "1Gi"
          cpu: "1000m"
      command: ["kc.sh", "start"]
      env:
        - name: KEYCLOAK_ADMIN
          value: "{{ keycloak_admin }}"
        - name: KEYCLOAK_ADMIN_PASSWORD
          value: "{{ vault_keycloak_adm_pass }}"
        - name: KC_DB
          value: "postgres"
        - name: KC_DB_URL
          value: "jdbc:postgresql://localhost:5432/{{ postgres_db }}"
        - name: KC_DB_USERNAME
          value: "{{ postgres_user }}"
        - name: KC_DB_PASSWORD
          value: "{{ vault_postgres_pass }}"
        - name: KC_HOSTNAME
          value: "PLACEHOLDER_HOSTNAME"
        - name: KC_HOSTNAME_STRICT_HTTPS
          value: "true"
        - name: KC_PROXY_HEADERS
          value: "xforwarded"
        - name: KC_HTTP_ENABLED
          value: "true"
